---
layout: home
redirect_from:
    - /wiki/メインページ
---
<div id="headerImg">
    <div id="kosysLogo"></div>

    <div id="headerView-1" class="switch"></div>
    <div id="headerView-2" class="switch"></div>
    <div id="headerView-3" class="switch"></div>

    <ul id="switchButton">
        <li><a href="#headerView-1"></a></li>
        <li><a href="#headerView-2"></a></li>
        <li><a href="#headerView-3"></a></li>
    </ul>

    <div id="headerView-mainImg">
        <div id="mainImg-1">
            <img id="image-1-1" src="{{ '/img/main.png' | prepend: site.baseurl }}" alt="こうしす！こちら京姫鉄道広報部システム課">
            <img id="image-1-2" src="{{ '/img/slogan.svg' | prepend: site.baseurl }}" alt="穴だらけ！？弊社自慢ののセキュリティ">
        </div>
        <div id="mainImg-2">
            <img src="{{ '/img/kosys_chara_banner.jpg' | prepend: site.baseurl }}" alt="こうしす！こちら京姫鉄道広報部システム課">            
        </div>
        <div id="mainImg-3">
            <img src="{{ '/img/kosys_story_banner.jpg' | prepend: site.baseurl }}" alt="こうしす！こちら京姫鉄道広報部システム課">
        </div>
    </div>

</div>


<div class="mainContent col-container">

    <section id="col-news" class="col">
        <h2>NEWS</h2>
        <ul>
        {% for post in site.posts %}
            <li>
            <span class="post-meta">{{ post.date | date: "%Y/%m/%d" }}</span>
            <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
            </li>
        {% endfor %}
        </ul>
    </section>

    <section id="col-nico" class="col">
        <h2>NICONICO</h2>
        <div id="nico">
            <div class="tagNico"><iframe src="https://ch.nicovideo.jp/kosys/thumb_channel" width="312" height="176"
                    frameborder="0" scrolling="no"></iframe></div>
            
        </div>
    </section>

    <section id="col-twitter" class="col">
        <h2>TWITTER</h2>
        <div id="contentTwitter">
            <a class="twitter-timeline" data-lang="ja"  data-height="400"
                href="https://twitter.com/opap_jp?ref_src=twsrc%5Etfw">Tweets by opap_jp</a>
            <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
        </div>
    </section>

    <section id="col-anima" class="col">
        <h2>ANIMATION</h2>
        <div id="anima">

            <div class="animaView">
                <a href="https://www.youtube.com/watch?v=I45EEIkJHDs"><img
                        src="https://img.youtube.com/vi/I45EEIkJHDs/mqdefault.jpg" alt="コウシス! LITE #2 「さよなら7」"></a>
                <span class="kosys-videoTime">3:18</span>
                <span class="kosys-videoTitle"><a href="https://www.youtube.com/watch?v=I45EEIkJHDs">コウシス! LITE #2 「さよなら7」</a></span>
                <span class="kosys-viewCount">2020/01/19</span>
            </div>

            <div class="animaView">
                <a href="https://www.youtube.com/watch?v=FzuYg6e4naE"><img
                        src="https://img.youtube.com/vi/FzuYg6e4naE/mqdefault.jpg" alt="こうしす！ #3.2「セキュリティに完璧を求めるのは間違っているだろうか (Part2/4)」"></a>
                <span class="kosys-videoTime">14:18</span>
                <span class="kosys-videoTitle"><a href="https://www.youtube.com/watch?v=FzuYg6e4naE">こうしす！ #3.2「セキュリティに完璧を求めるのは間違っているだろうか (Part2/4)」</a></span>
                <span class="kosys-viewCount">2019/09/06</span>
            </div>

            <div class="animaView">
                <a href="https://www.youtube.com/watch?v=Sim3-h5kw4s"><img
                        src="https://img.youtube.com/vi/Sim3-h5kw4s/mqdefault.jpg" alt="こうしす！ #3.1「セキュリティに完璧を求めるのは間違っているだろうか」(Part1/4)"></a>
                <span class="kosys-videoTime">8:32</span>
                <span class="kosys-videoTitle"><a href="https://www.youtube.com/watch?v=Sim3-h5kw4s">こうしす！ #3.1「セキュリティに完璧を求めるのは間違っているだろうか」(Part1/4)</a></span>
                <span class="kosys-viewCount">2017/10/31</span>
            </div>

            <div class="animaView">
                <a href="https://www.youtube.com/watch?v=zNln_gebc68"><img
                        src="https://img.youtube.com/vi/zNln_gebc68/mqdefault.jpg" alt="【改訂版】こうしす！ #2 「やはり弊社の業務システムは間違っている」"></a>
                <span class="kosys-videoTime">26:24</span>
                <span class="kosys-videoTitle"><a href="https://www.youtube.com/watch?v=zNln_gebc68">
                    【改訂版】こうしす！ #2 「やはり弊社の業務システムは間違っている」 </a></span>
                <span class="kosys-viewCount">2016/06/04</span>
            </div>
            <div class="animaView">
                <a href="https://www.youtube.com/watch?v=nyXPkyrQSUQ"><img
                        src="https://img.youtube.com/vi/nyXPkyrQSUQ/mqdefault.jpg" alt="コウシス！LITE #1"></a>
                <span class="kosys-videoTime">5:04</span>
                <span class="kosys-videoTitle"><a href="https://www.youtube.com/watch?v=nyXPkyrQSUQ">コウシス！LITE
                        #1「強く推奨バンサクのサングラス　～パスワ…</a></span>
                <span class="kosys-viewCount">2015/07/31</span>
            </div>
            <div class="animaView">
                <a href="https://www.youtube.com/watch?v=a-VzjnKgcVI"><img
                        src="https://img.youtube.com/vi/a-VzjnKgcVI/mqdefault.jpg" alt="【改訂2版】こうしす！ #1"></a>
                <span class="kosys-videoTime">13:49</span>
                <span class="kosys-videoTitle"><a href="https://www.youtube.com/watch?v=a-VzjnKgcVI">【改訂2版】こうしす！
                        #1「XPだけどお金がないから使い続けて…</a></span>
                <span class="kosys-viewCount">2016/06/19</span>
            </div>

        </div>
    </section>

    <section id="col-kosysAbout" class="col">
        <h2>CHARACTER &amp; STORY</h2>
        <div id="kosysAbout">
            <div class="kosysAbout-img"><a href="https://kosys.opap.jp/characters"><img src="/img/kosys_chara_banner.jpg"
                        alt="登場人物紹介"></a>
                <h3>登場人物紹介</h3>
            </div>
            <div class="kosysAbout-img"><a href="https://kosys.opap.jp/story"><img src="/img/kosys_story_banner.jpg"
                        alt="これまでのおはなし"></a>
                <h3>これまでのおはなし</h3>
            </div>
        </div>
    </section>

</div>
