<footer>
    <aside>
        <div id="copyRight">
            <p><small>Copyright&copy;2012-{{ site.time | date: '%Y' }} </small><a href="/contributors/index.html">OPAP-JP
                    contributors.</a></p>
            <p>licensed under <a href="https://creativecommons.org/licenses/by/4.0/">CC-BY4.0.</a>List of contributors
                are available at <a href="/contributors/index.html">here.</a></p>
            <p>
                <a href="{{ site.baseurl }}/legal">利用規約</a> - <a href="{{ site.baseurl }}/legal/privacy">プライバシーポリシー</a> - <a href="{{ site.baseurl }}/contact">お問い合わせ</a>
            </p>
            <p>
                <img src="/img/cc-by.png" alt="クリエイティブ・コモンズ表示(CC-BY4.0.)">
            </p>
        </div>

        <div id="footer-opapCredit">
            <small>Open Process Animation Project Japan</small>
            <p>
                OPAP-JPは、オンラインでアニメーション作品をオープンに制作しようという非営利プロジェクトです。アニメーション作品だけでなく、知識の共有、制作をサポートするソフトウェアの開発と公開なども行います。
            </p>
        </div>

    </aside>
</footer>