<head>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans+JP&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}?ver={{ site.time | date_to_xmlschema | url_encode}}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.2/css/all.min.css" />
    
    {% assign outputTitle = "" %}
    {% if page.title %}
        {% assign outputTitle = page.title | append: " | " %}
    {% endif %}
    {% if page.category && site.data.categoryInfo[page.category]  %}
        {% assign outputTitle = outputTitle | append: site.data.categoryInfo[page.category].displayName | append: " | " %}
    {% endif %}
    {% assign outputTitle = outputTitle | append: site.title %}
    <title>{{ outputTitle | escape }}</title>
    <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">
    
    <link rel="apple-touch-icon" sizes="180x180" href="{{ site.baseurl }}/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ site.baseurl }}/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ site.baseurl }}/favicon-16x16.png">
    <link rel="manifest" href="{{ site.baseurl }}/site.webmanifest">
    <link rel="mask-icon" href="{{ site.baseurl }}/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">

    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
    <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "/atom.xml" | prepend: site.baseurl | prepend: site.url }}">
    
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@{{ site.twitter_username | escape }}">
    <meta name="twitter:creator" content="@{{ site.twitter_username | escape }}">
    <meta name="twitter:title" content="{{ outputTitle | escape }}">
    <meta name="twitter:description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">
    {% if page.image %}
    <meta name="twitter:image" content="{{ page.image | absolute_url }}">
    {% elsif page.mainImage %}
    <meta name="twitter:image" content="{{ page.mainImage | absolute_url }}">
    {% else %}
    <meta name="twitter:image" content="{{ site.url }}/img/main.png">
    {% endif %}

</head>
