<header>
    <div id="headerFrame">
        <div id="headerCommon">
            <h1><a href="{{ '/' | prepend: site.baseurl }}"><img src="{{ '/img/opapjp.svg' | prepend: site.baseurl }}" alt="OPAPのロゴマーク"></a></h1>

            <nav class="main-nav">
                <input id="mainNavToggle" type="checkbox" class="nav-toggle" />
                <label for="mainNavToggle" class="nav-toggle-button">
                    MENU <i class="fas fa-bars"></i>
                </label>
                <ul class="nav-list">
                    <li><a href="{{ '/' | prepend: site.baseurl }}"><i class="fas fa-home" style="color: #ed5565;"></i><span
                                class="navList">TOP</span></a></li>
                    <li><a href="{{ '/news/' | prepend: site.baseurl }}"><i class="fas fa-info-circle" style="color: #fc6e51;"></i><span
                                class="navList">お知らせ</span></a></li>
                    <li><a href="{{ '/about/' | prepend: site.baseurl }}"><i class="fas fa-film" style="color: #ffce54;"></i><span
                                class="navList">団体概要</span></a></li>
                    <li><a href="{{ '/activity/' | prepend: site.baseurl }}"><i class="fab fa-pagelines" style="color: #a0d468;"></i><span
                                class="navList">活動案内</span></a></li>
                    <li><a href="{{ '/join/' | prepend: site.baseurl }}"><i class="far fa-file-alt" style="color: #4fc1e9;"></i><span
                                class="navList">参加者募集</span></a></li>
                    <li><a href="{{ '/support/' | prepend: site.baseurl }}"><i class="far fa-handshake" style="color: #5d9cec;"></i><span
                                class="navList">支援募集</span></a></li>
                    <li><a href="{{ '/member/' | prepend: site.baseurl }}"><i class="fas fa-sign-in-alt" style="color: #ec87c0;"></i><span
                                class="navList">会員ページ</span></a></li>
                </ul>
            </nav>

        </div>
    </div>
    <div id="header-opapCredit"><small>Opap Process Animation Project Japan</small></div>
</header>