
* {
    word-wrap: break-word;
    hyphens: auto;
}

pre {
    white-space: pre-wrap;
}

article {
    h1 {
        margin-top: 0;
        color: rgb(180, 75, 68);
        border-left: solid 2px rgb(180, 75, 68);
        padding-left: 0.5em;
        font-weight: normal;
    }

    h2 {
        color: rgb(180, 75, 68);
        border-bottom: solid 1px rgb(180, 75, 68);
        font-weight: normal;
        &::before {
            font-family: "Font Awesome 5 Free";
            content: "\f152";
            padding-right: 10px;
            font-weight: 900;
        }

    }

    h3, h4, h5, h6 {
        color: rgb(180, 75, 68);
        border-color: rgb(180, 75, 68);
    }
}