@charset "utf-8";

/* 主要レイアウト
------------------------------------------------------------ */

body {
    position: relative;
    margin: 0;
    padding: 0;
    background-image: url(/img/bg_ticket.svg);
    background-repeat: repeat;
    background-size: 70px 80px;
    color: #000000;
    font-size: 16px;
    font-family: 'Noto Sans Japanese', 'Noto Sans JP', '源ノ角ゴシック', 'Source Sans Pro', 'ヒラギノ角ゴ Pro', 'Hiragino Kaku Gothic Pro', 'sans-serif';
    z-index: 0;

}

body::before {
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url(/img/bg02.svg);
    background-repeat: repeat;
    background-size: 200px 200px;
    top: 0;
    left: 0;
    opacity: 0.7;
    z-index: -1;
    content: "";
}

section,
article,
aside,
nav,
header,
footer {
    display: block;
}

.global-container {
    min-width: 1200px;
    @include mobile-media-query {
        min-width: auto;
    }
    // フッター固定用
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

#page {
    max-width: 100%;

    // フッター固定用
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

/* ヘッダー
------------------------------------------------------------ */

#headerFrame {
    background: #ffffff;
}

#headerCommon {
    position: relative;
    display: flex;
    width: 1200px;
    margin: 0 auto;
    padding: 15px 29px 0px 29px;
    box-sizing: border-box;

    
    @include mobile-media-query {
        display: block;
        width: auto;
        padding: 0;
    }
}

#headerCommon h1 {
    margin: 0;
    margin-right: auto;

}

#headerCommon h1 a {
    display: block;
    height: 77px;
    margin-right: auto;
    @include mobile-media-query {
        display: inline-block;
        height: auto;
    }
}

#headerCommon h1 img {
    width: 240px;
    @include mobile-media-query {
        width: 100px;
        padding: 0;
    }
}

.main-nav {


    .nav-toggle {
        display: none;
    }
    .nav-toggle-button {
        display: none;
            
    }
    .nav-list {
        list-style: none;
        margin: 0 22px 0 22px;
        padding: 0;
        font-size: 0;

        li {
            display: inline-block;
            width: 100px;
            text-align: center;
            i {
                display: block;
                margin: 6px;
                font-size: 35px;
            }
        } 
        
        a {
            width: 100%;
            height: 100%;
            display: block;
            color: #000000;
            text-decoration: none;
        
            &:hover {
                opacity: 0.7;
            }
        }
        
    }

    @include mobile-media-query {
        .nav-list {
            position: relative;
            top: 0;
            left: 0;
            width: 100%;
            display: none;
            list-style: none;
            padding: 0;
            margin: 0;
            background-color: white;
            z-index: 100;

            
            li {
                display: block;
                width: auto;
                text-align: left;
                i {
                    text-align: center;
                    display: inline-block;
                    margin: 6px;
                    font-size: 35px;
                    width: 50px;
                    box-sizing: border-box;
                }
            } 
            
            a {
                width: 100%;
                height: 100%;
                display: block;
                color: #000000;
                text-decoration: none;
            
                &:hover {
                    opacity: 0.7;
                }
            }
        }

        .nav-toggle-button {
            display: block;
            position: absolute;
            right: 0;
            top: 0;
            padding: 10px;
            cursor: pointer;

            &:hover {
                opacity: 0.7;
            }
        }
        .nav-toggle:checked ~ .nav-list {
            display: block;
        }
    }       
}

.navList {
    font-size: 14px;
}


#header-opapCredit {
    height: 20px;
    background: #d4934d;
}

#header-opapCredit small {
    display: block;
    width: 1200px;
    margin: 0 auto;
    padding: 4px 0 1px 20px;
    color: #ffffff;
    font-size: 10px;
    box-sizing: border-box;

    @include mobile-media-query {
        width: auto;
        padding: 0;
        text-indent: -1000px;
    }
}
/* ヘッダーイメージ-ロゴ
------------------------------------------------------------ */

#headerImg {
    position: relative;
}

#kosysLogo {
    position: relative;
    width: 100%;
    height: 70px;
    background: #c0392b;
    z-index: 1;
    
    @include mobile-media-query {
        height: 35px;
    }
}

#kosysLogo::before {
    display: block;
    position: absolute;
    width: 410px;
    height: 235px;
    margin: 0 auto;
    background-image: url(/img/logo.svg);
    top: -41px;
    left: 0;
    right: 0;
    content: "";
    
    @include mobile-media-query {
        top: -20.5px;
        width: 205px;
        height: 117.5px;
    }
}


/* ヘッダーイメージ-スライドショー
------------------------------------------------------------ */

.switch {
    display: none;
}

#switchButton {
    list-style: none;
    position: absolute;
    width: calc(100% - 50px);
    margin: 0 0 0 50px;
    padding: 0;
    font-size: 0;
    text-align: center;
    top: 700px;
    left: 0;
    z-index: 2;
    @include mobile-media-query {
        display: none;
    }
}

#switchButton li {
    display: inline;
}

#switchButton a {
    display: inline-block;
    width: 8px;
    height: 8px;
    margin: 3px;
    border-radius: 4px;
    background: #282828;
    animation: slideshowButton-movie0 15s infinite;
}

#switchButton li:nth-child(1) a {
    animation-delay: 0s;
}

#switchButton li:nth-child(2) a {
    animation-delay: 5s;
}

#switchButton li:nth-child(3) a {
    animation-delay: 10s;
}

#headerView-1:target~#switchButton a[href="#headerView-1"],
#headerView-1:target~#switchButton a[href="#headerView-2"],
#headerView-1:target~#switchButton a[href="#headerView-3"] {
    animation: slideshowButton-movie1 15s infinite;
}

#headerView-2:target~#switchButton a[href="#headerView-1"],
#headerView-2:target~#switchButton a[href="#headerView-2"],
#headerView-2:target~#switchButton a[href="#headerView-3"] {
    animation: slideshowButton-movie2 15s infinite;
}

#headerView-3:target~#switchButton a[href="#headerView-1"],
#headerView-3:target~#switchButton a[href="#headerView-2"],
#headerView-3:target~#switchButton a[href="#headerView-3"] {
    animation: slideshowButton-movie3 15s infinite;
}

#headerView-1:target~#switchButton a[href="#headerView-1"],
#headerView-2:target~#switchButton a[href="#headerView-2"],
#headerView-3:target~#switchButton a[href="#headerView-3"] {
    animation-delay: 0s;
}

#headerView-1:target~#switchButton a[href="#headerView-2"],
#headerView-2:target~#switchButton a[href="#headerView-3"],
#headerView-3:target~#switchButton a[href="#headerView-1"] {
    animation-delay: 5s;
}

#headerView-1:target~#switchButton a[href="#headerView-3"],
#headerView-2:target~#switchButton a[href="#headerView-1"],
#headerView-3:target~#switchButton a[href="#headerView-2"] {
    animation-delay: 10s;
}

#headerView-mainImg {
    position: relative;
    width: 1200px;
    height: 666px;
    margin: 0 auto;
    border: 5px solid #e9573f;
    background: #ffffff;
    z-index: 0;
    box-sizing: border-box;
    &>div {
        box-sizing: border-box;
        width: 100%;
        height: 100%;
    }
    @include mobile-media-query {
        width: 100%;
        height: 300px;
    }
}

#headerView-mainImg div:nth-child(1),
#headerView-mainImg div:nth-child(2),
#headerView-mainImg div:nth-child(3) {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    opacity: 0;
    animation: slideshowView0 15s infinite;
}

#headerView-mainImg div:nth-child(1) {
    animation-delay: 0s;
}

#headerView-mainImg div:nth-child(2) {
    animation-delay: 5s;
}

#headerView-mainImg div:nth-child(3) {
    animation-delay: 10s;
}

#headerView-1:target~#headerView-mainImg div:nth-child(1),
#headerView-1:target~#headerView-mainImg div:nth-child(2),
#headerView-1:target~#headerView-mainImg div:nth-child(3) {
    animation: slideshowView1 15s infinite;
}

#headerView-2:target~#headerView-mainImg div:nth-child(1),
#headerView-2:target~#headerView-mainImg div:nth-child(2),
#headerView-2:target~#headerView-mainImg div:nth-child(3) {
    animation: slideshowView2 15s infinite;
}

#headerView-3:target~#headerView-mainImg div:nth-child(1),
#headerView-3:target~#headerView-mainImg div:nth-child(2),
#headerView-3:target~#headerView-mainImg div:nth-child(3) {
    animation: slideshowView3 15s infinite;
}

#headerView-1:target~#headerView-mainImg div:nth-child(1),
#headerView-2:target~#headerView-mainImg div:nth-child(2),
#headerView-3:target~#headerView-mainImg div:nth-child(3) {
    animation-delay: 0s;
}

#headerView-1:target~#headerView-mainImg div:nth-child(2),
#headerView-2:target~#headerView-mainImg div:nth-child(3),
#headerView-3:target~#headerView-mainImg div:nth-child(1) {
    animation-delay: 5s;
}

#headerView-1:target~#headerView-mainImg div:nth-child(3),
#headerView-2:target~#headerView-mainImg div:nth-child(1),
#headerView-3:target~#headerView-mainImg div:nth-child(2) {
    animation-delay: 10s;
}

@keyframes slideshowButton-movie0 {
    0% {
        background: #6f6e6e;
    }
    15% {
        background: #6f6e6e;
    }
    30% {
        background: #282828;
    }
}

@keyframes slideshowButton-movie1 {
    0% {
        background: #6f6e6e;
    }
    15% {
        background: #6f6e6e;
    }
    30% {
        background: #282828;
    }
}

@keyframes slideshowButton-movie2 {
    0% {
        background: #6f6e6e;
    }
    15% {
        background: #6f6e6e;
    }
    30% {
        background: #282828;
    }
}

@keyframes slideshowButton-movie3 {
    0% {
        background: #6f6e6e;
    }
    15% {
        background: #6f6e6e;
    }
    30% {
        background: #282828;
    }
}

@keyframes slideshowView0 {
    0% {
        opacity: 1;
    }
    15% {
        opacity: 1;
    }
    30% {
        opacity: 0;
    }
}

@keyframes slideshowView1 {
    0% {
        opacity: 1;
    }
    15% {
        opacity: 1;
    }
    30% {
        opacity: 0;
    }
}

@keyframes slideshowView2 {
    0% {
        opacity: 1;
    }
    15% {
        opacity: 1;
    }
    30% {
        opacity: 0;
    }
}

@keyframes slideshowView3 {
    0% {
        opacity: 1;
    }
    15% {
        opacity: 1;
    }
    30% {
        opacity: 0;
    }
}


/* ヘッダーイメージ-メインイメージ1
------------------------------------------------------------ */

#mainImg-1 {
    height: 656px;
    padding: 27px 0 15px 33px;
    box-sizing: border-box;
    @include mobile-media-query {
        width: 100%;
        height: 100%;
    }
}

#image-1-1 {
    display: block;
    margin: 0 auto;
    max-height: 100%;
}

#image-1-2 {
    position: absolute;
    width: 140px;
    height: 500px;
    top: 57px;
    left: 1005px;
    transform: rotate(8deg);
    @include mobile-media-query {
        top: auto;
        left: auto;
        right: 20px;
        bottom: 10px;
        width: 70px;
        max-height: 100%;
    }
}


/* ヘッダーイメージ-メインイメージ2
------------------------------------------------------------ */
#mainImg-2 {
    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: 50% 50%;
    }
}

/* ヘッダーイメージ-メインイメージ3
------------------------------------------------------------ */
#mainImg-3 {
    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: 50% 50%;
    }
}

/* メインコンテンツ
------------------------------------------------------------ */

.mainContent {
    width: 1200px;
    margin: 0 auto;
    padding: 32px 29px;
    background: #ffffff;
    box-sizing: border-box;
    
    // フッター固定用
    flex-grow: 1;

    // モバイル対応差分
    @include mobile-media-query {
        width: 100%;
    }
}

.col-container {
    display: block;

    .col {
        margin: 17px 0;
        width: 100%;
        margin-left: auto;
        margin-right: auto; 
    }
    
    @supports(display: grid){
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 17px;
        row-gap: 17px;
        .col {
            margin: 0;
            width: auto;
        }
    }
    grid-auto-rows: minmax(100px, auto);
    
    @include mobile-media-query {
        display: block;
        .col {
            margin: 17px 0;
            width: 100%;
        }
    }
}

.col {
    border: 1px solid #dcdcdc;
    border-radius: 10px;
    box-shadow: -1px 1px 1px #dcdcdc;
    box-sizing: border-box;
    
}

.col h2 {
    margin: 0;
    border-radius: 10px 10px 0 0;
    color: #ffffff;
    font-weight: normal;
}

#col-news,
#col-nico {
    
    @include mobile-media-query {
        width: auto;
    }
}

#col-anima,
#col-kosysAbout {
    
    @include mobile-media-query {
        width: 100%;
    }
}


/* メインコンテンツ-NEWS
------------------------------------------------------------ */

#col-news {
    grid-column: 1 / 1;
    grid-row: 1 / 1;
    min-height: 240px;
    
    @include mobile-media-query {
        height: auto;
        margin: 20px auto;
    }
}

#col-news h2 {
    padding: 0 0 0 18px;
    background: #4fc1e9;
    font-size: 24px;
    letter-spacing: 1px;
    line-height: 35px;
}

#col-news ul {
    list-style: none;
    margin: 0 0 0 20px;
    padding: 0;
}

#col-news li {
    margin: 10px 0 12px 0;
    font-size: 14px;

    .post-meta {
        display: block;
    }
}


/* メインコンテンツ-NICONICO
------------------------------------------------------------ */

#col-nico {
    grid-column: 1 / 1;
    grid-row: 2 / 2;
    min-height: 240px;
    
    @include mobile-media-query {
        float: none;
        height: auto;
        margin: 20px auto;
    }
}

#col-nico h2 {
    height: 34px;
    padding: 0 0 0 18px;
    background: #ffce54;
    font-size: 24px;
    letter-spacing: 1px;
    line-height: 33px;
}

#nico {
    display: flex;
    flex-wrap: wrap;
    margin: 14px 5px 7px 5px;
}

.tagNico {
    margin: auto 5px;
}


/* メインコンテンツ-TWITTER
------------------------------------------------------------ */

#col-twitter {
    
    grid-column: 2 / 2;
    grid-row: 1 / span 2;
    
    min-height: 498px;

    @include mobile-media-query {
        float: none;
        height: auto;
        width: 100%;
        min-height: 240px;
        margin: 20px auto;
    }
}

#col-twitter h2 {
    padding: 0 0 0 20px;
    background: #a0d468;
    font-size: 24px;
    line-height: 35px;
}

#contentTwitter {
    margin: 14px 22px 14px 21px;
}


/* メインコンテンツ-ANIMATION
------------------------------------------------------------ */

#col-anima {
    grid-column: 1 / span 2;
    grid-row: 3 / 3;
    
    min-height: 823px;
    @include mobile-media-query {
        float: none;
        height: auto;
        min-height: 240px;
        margin: 20px auto;
    }
}

#col-anima h2 {
    height: 35px;
    background: #fc6e51;
    font-size: 24px;
    text-align: center;
    letter-spacing: 1px;
    line-height: 37px;
}

#anima {
    display: flex;
    margin: 23px 60px;
    flex-wrap: wrap;
    
    @include mobile-media-query {
        margin: 10px;
    }
}

.animaView {
    position: relative;
    width: 33%;
    height: 370px;
    padding: 35px 8px 8px 8px;
    box-sizing: border-box;
    @include mobile-media-query {
        width: 100%;
    }
}

.animaView img {
    width: 100%;
    object-fit: cover;
    min-height: 218px;
}

.kosys-videoTime {
    position: absolute;
    height: 26px;
    padding: 0 8px;
    background: rgba(0, 0, 0, 0.8);
    color: #ffffff;
    font-size: 20px;
    right: 13px;
    top: 218px;
    border-radius: 2px;
    line-height: 20px;
}

.kosys-videoTitle a {
    display: block;
    font-size: 24px;
    text-decoration: none;
    line-height: 30px;
}

.kosys-viewCount {
    color: #767676;
    font-size: 20px;
}


/* メインコンテンツ-CHARACTER & STORY
------------------------------------------------------------ */

#col-kosysAbout {
    grid-column: 1 / span 2;
    grid-row: 4 / 4;
    
    min-height: 339px;
    @include mobile-media-query {
        float: none;
        height: auto;
        min-height: 240px;
        margin: 20px auto;
    }
}

#col-kosysAbout h2 {
    background: #ed5565;
    font-size: 23px;
    text-align: center;
    letter-spacing: 2px;
    line-height: 33px;
}

#kosysAbout {
    display: flex;
    flex-wrap: wrap;
    margin: 6px 61px 10px 61px;
    justify-content: space-between;
    @include mobile-media-query {
        margin: 10px;
    }
}

.kosysAbout-img {
    position: relative;
    width: 50%;
    padding: 9px;
    box-sizing: border-box;
    @include mobile-media-query {
        width: 100%;
    }
}

.kosysAbout-img img {
    width: 100%;
    height: 265px;
    border-radius: 10px;
    object-fit: cover;
}

.kosysAbout-img:nth-of-type(1) img {
    object-position: -203px 0;
    @include mobile-media-query {
        object-position: 50% 50%;
    }
}

.kosysAbout-img:nth-of-type(2) img {
    object-position: 0 -9px;
    @include mobile-media-query {
        object-position: 50% 50%;
    }
}

.kosysAbout-img h3 {
    position: absolute;
    margin: 0;
    color: #e9573f;
    font-size: 45px;
    font-weight: 500;
    text-align: center;
    text-shadow:
        -1px -1px 0 #ffffff,  
        1px -1px 0 #ffffff,
        -1px  1px 0 #ffffff,
        1px  1px 0 #ffffff;
    left: 0;
    right: 0;
    @include mobile-media-query {
        font-size: 20px;
    }
}

.kosysAbout-img:nth-of-type(1) h3 {
    bottom: 12px;
}

.kosysAbout-img:nth-of-type(2) h3 {
    top: 0;
}

/* メインコンテンツ - 共有ボタン
------------------------------------------------------------ */

.share {
    margin: 2em 0;
    text-align: right;
}


/* フッター
------------------------------------------------------------ */

footer {
    background: #d4934d;
}

footer aside {
    display: flex;
    width: 1200px;
    margin: 0 auto;
    padding: 1px 77px;
    box-sizing: border-box;
    &>* {
        box-sizing: border-box;
        width: 50%;
    }
    @include mobile-media-query {
        width: 100%;
        flex-wrap: wrap;
        &>*{
            width: 100%;
        }
        padding: 1px 10px;
    }
}

footer img {
    width: 88px;
    height: 31px;
    margin: 11px 7px;
}

#copyRight p,
#copyRight small,
#copyRight a,
#footer-opapCredit {
    color: #ffffff;
}

#copyRight p,
#copyRight small,
#copyRight a {
    font-size: 12px;
}

#copyRight {
    margin: 0 7px;
}

#copyRight p {
    transform-origin: left top;
}

#copyRight p:nth-child(1) {
    margin: 1px 0 0 0;
    transform: scale(0.96, 1);
}

#copyRight p:nth-child(2) {
    margin: 2px 0 0 0;
    transform: scale(0.97, 1);
}

#footer-opapCredit {
    margin: 7px 34px;
    margin-left: auto;
    font-size: 14px;
    @include mobile-media-query {
        margin: 7px 0;
    }
}

#footer-opapCredit small {
    font-size: 13px;
    letter-spacing: 1px;
}


/* ページ別レイアウト
------------------------------------------------------------ */

/* 一般ページ・記事ページ */

.layout-page,
.layout-post {
    .mainContent {
        padding: 32px 150px;
            
        @include mobile-media-query {
            padding: 32px 29px;
        }
    }
}
