@charset "utf-8";

/* 表（mediawiki互換）
------------------------------------------------------------ */

.wikitable 
{
    background-color: #f8f9fa;
    color: #222;
    margin: 1em 0;
    border: 1px solid #a2a9b1;
    border-collapse: collapse;
    &>*>tr>*{
        border: 1px solid #a2a9b1;
        padding: 0.2em 0.4em;
    }
    &>*>tr>th{
        background-color: #eaecf0;
        text-align: center;
    }
}

/* 表 標準スタイル
------------------------------------------------------------ */

.table-common {
    border-collapse: collapse;
    border-radius: 5px;
    width: 100%;
    table-layout: fixed;
    border-top: none;
    border-bottom: 4px solid #bd6d65;
    font-size: 1.2em;


    th{
        color: #bd6d65;
    }

    >thead>tr>th,
    >thead>tr>td {

        padding: 10px 5px;
        border-bottom: 4px solid #bd6d65;
    }
    
    >tbody>tr {
        background-color: #FFF8F8;
        
    }
    >tbody>tr:first-child>th,
    >tbody>tr:first-child>td {
        border-top: 4px solid #bd6d65;
    }

    >tbody>tr:nth-child(2n + 1) {
        background-color: #FFFFFF;
    }
    
    >tbody>tr>th,
    >tbody>tr>td {

        padding: 10px 5px;
        border-bottom: 2px solid #bd6d65;
    }
    
    >tbody>tr>th {
        font-weight: normal;
        text-align: left;
        width: 150px;
    }


    
    >tbody>tr>td {
        text-align: left;
        width: auto;
    }
    

    ul {
        margin: 0 0;
        padding: 0;
        list-style: none;
        >li {
            margin: 0;
            padding: 0;
        }
    }

}

/* 各話リンク
------------------------------------------------------------ */

.episode-link {
    a {
        font-size: 1.5em;
        text-decoration: none;
    }

    .episode-link-list {
        display: block;
        list-style: none;
        margin: 0;
        padding: 0;
        >li {
            display: block;
            width: 50%;
            margin: 0;
            padding: 0;
            float: left;
            text-align: center;
        }
    }

    .niconico {
        color: #666;
    }
    .youtube {
        color: #c0392b;
    }
}


/* カラム
------------------------------------------------------------ */

.col-6 {
    width: 50%;
    float: left;
}
