---
layout: default
---

{% include header.html %}

<div id="page" class="layout-post">
    <article class="mainContent">
        <h1>{{ page.title }}</h1>
        <section class="post-content">
        {{ content }}
        </section>
        
        <div class="share">
            <a href="https://twitter.com/share?ref_src=twsrc%5Etfw" class="twitter-share-button"
                data-url="https://opap.jp{{ page.url }}" data-via="opap_jp" data-related=""
                data-lang="ja" data-show-count="false">Tweet</a>
            <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
        </div>
    </article>
</div> 